canvas {
  border: 1px black solid;
}

#neonSignCanvas {
  display: none;
}

#neonSignText {
  width: 40%;
}

.canvas_left {
  float: left;
  width: 50%;
  height: 600px;
  text-align: center;
  background-color: #555;
  white-space: nowrap;
  vertical-align: middle;
}

.neonSignHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img#neonSignImage {
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}

.canvas_right {
  float: right;
  width: 45%;
  margin: auto;
  text-align: center;
}

.canvas_right .neonSignEditorForm {
  border: black solid 2px;
  padding: 4%;
}

/* RADIO BUTTONS */

input[type="radio"] {
  margin: 25px;
}

input[type="radio"]#ColorRed:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: red;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type="radio"]#ColorRed:checked:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: red;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]#ColorGreen:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: green;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type="radio"]#ColorGreen:checked:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: green;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]#ColorBlue:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: blue;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type="radio"]#ColorBlue:checked:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: blue;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]#ColorOrange:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: orange;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type="radio"]#ColorOrange:checked:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: orange;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]#ColorPink:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: pink;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type="radio"]#ColorPink:checked:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: pink;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]#ColorWhite:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type="radio"]#ColorWhite:checked:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: white;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]#ColorYellow:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: yellow;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type="radio"]#ColorYellow:checked:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: yellow;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]#ColorIceBlue:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: #24b7de;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type="radio"]#ColorIceBlue:checked:after {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  top: -5px;
  left: -3px;
  position: relative;
  background-color: #24b7de;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.fontGroup input[type="radio"] {
  display: none;
}

.fontGroup input[type="radio"]:checked + label {
  border: 2px solid black;
}

.fontGroup label {
  padding: 2px;
  margin: 3% 2% 3% 2%;
}

#fontPickerRadioGroup {
  margin: 2%;
}

#fontSizePickerRadioGroup {
  margin: 2%;
}

.supportOptions input[type="radio"] {
  display: none;
}

.supportOptions input[type="radio"]:checked + label {
  border: 2px solid black;
}

hr {
  width: 90%;
}

.fontSizeSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.fontSizeSlider:hover {
  opacity: 1;
}

.fontSizeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.fontSizeSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}